pkgbase = ruby-gnome
	pkgdesc = Much Ruby, wow
	pkgver = 4.2.2
	pkgrel = 1
	url = https://github.com/ruby-gnome/ruby-gnome
	arch = x86_64
	license = LGPL2.1
	makedepends = ruby-pkg-config
	makedepends = ruby-native-package-installer
	depends = ruby
	source = git+https://github.com/ruby-gnome/ruby-gnome.git#tag=4.2.2
	sha256sums = SKIP

pkgname = ruby-gnome
