pkgbase = ruby-gtk3
	pkgdesc = Ruby/GTK3 is a Ruby binding of GTK+-3.x.
	pkgver = 4.2.2
	pkgrel = 1
	url = https://github.com/ruby-gnome/ruby-gnome
	arch = x86_64
	license = LGPL-2.1+
	makedepends = ruby-native-package-installer
	makedepends = ruby-glib2
	depends = gobject-introspection
	depends = gtk3
	depends = ruby
	depends = ruby-atk
	depends = ruby-cairo
	depends = ruby-gdk3
	depends = ruby-gdk_pixbuf2
	depends = ruby-gio2
	depends = ruby-gobject-introspection
	depends = ruby-pango
	options = !emptydirs
	source = ruby-gnome-4.2.2.tar.gz::https://github.com/ruby-gnome/ruby-gnome/archive/refs/tags/4.2.2.tar.gz
	sha256sums = 64f2f53e9733e85d1b5c10c684858ff5924a0c7175c344ed01270fc018ea983d

pkgname = ruby-gtk3
