pkgbase = ruby-glib2
	pkgdesc = Ruby/GLib2 is a Ruby binding of GLib-2.x.
	pkgver = 4.2.2
	pkgrel = 2
	url = https://github.com/ruby-gnome/ruby-gnome
	arch = x86_64
	license = LGPL2.1
	depends = ruby
	depends = glib2
	depends = ruby-pkg-config
	depends = ruby-native-package-installer
	options = !emptydirs
	source = ruby-gnome-4.2.2.tar.gz::https://github.com/ruby-gnome/ruby-gnome/archive/refs/tags/4.2.2.tar.gz
	sha256sums = 64f2f53e9733e85d1b5c10c684858ff5924a0c7175c344ed01270fc018ea983d

pkgname = ruby-glib2
